

/* font-family: 'Racing Sans One', cursive;
font-family: 'Raleway', sans-serif; */

html, body {
    font-family: 'Raleway', sans-serif;
    background: url("../../assets/images/oriental-tiles.png");
    height: 100%;
    margin: 0;
    padding: 0;
}
#navbar {
    font-size: 1.5em;
}


#js-logo {
    vertical-align: -3px;
}

#title {
    font-size: 1.4em;
}

#score-time {
    font-family: monospace;
}

.jumbotron{
    background-color:rgba(218, 165, 32, .8);
    border-radius: 10px;
}
#rules {
    font-size: calc(16px + 1vw);
    line-height: 120%;
}

#question {
    font-family: 'Racing Sans One', cursive;
    font-size: calc(16px + 1vw);
}

code {
    color: rgb(255, 230, 249);
    font-weight: 600;
}

.btn {
    background-color: rgb(13, 18, 56);
    color: rgb(255, 255, 255);
    border: none;
}

.btn-outline-warning.focus, .btn-outline-warning:focus {
    box-shadow: none;
}

.btn-block {
    width: 50%;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#high-scores:hover {
    cursor: pointer;
    text-decoration: underline;
}


/*** Media Queries  ***/
/**********************/

/* Container width sizing for larger devices. Overrides bootstrap */
@media (min-width: 768px){
    main {
        width: 60% !important;
    }
}

/* Changes button width on mobile */
@media (max-width: 500px){
    .btn-block {
        width: 80%;
    }
}

/* JS logo in navbar disappears on mobile */
@media (max-width: 300px){
    #js-logo {
        display: none;
    }
}

