

/* font-family: 'Racing Sans One', cursive;
font-family: 'Raleway', sans-serif; */
body {
    font-family: 'Raleway', sans-serif;
}
#navbar {
    font-size: 1.5em;
}

#js-logo {
    vertical-align: -3px;
}

#title {
    font-size: 1.4em;
}

main p {
    font-size: calc(16px + 1vw);
}


/*** Media Queries  ***/
/**********************/

/* Container width sizing for larger devices. Overrides bootstrap */
@media (min-width: 768px){
    main {
        width: 60% !important;
    }
}


/* @media (max-width: 500px){
    .navbar {
        flex-direction: column;
    }
} */

@media (max-width: 300px){
    #js-logo {
        display: none;
    }
}

